html
{
    height: 100%;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

#container
{
    height: 500px;
    width: 650px;

    margin: 100px auto;
    padding: 20px;
    border-radius: 15px;
    position: relative;
}

#score
{
    background-color: white;
    color: grey;
    padding: 11px;
    position: absolute;
    left: 96px;
    border-radius: 15px;
    -moz-box-shadow: 0px 0px 5px 3px #8f94fb;
    -webkit-box-shadow: 0px 0px 5px 3px #8f94fb;
}

#correct
{
    position: absolute;
    left: 300px;
    background-color: #4BB543;
    padding: 11px;
    color: white;
    border-radius: 10px;
    display: none;
}

#wrong
{
    position: absolute;
    left: 300px;
    background-color: #ED213A;
    padding: 11px;
    color: white;
    border-radius: 10px;
    display: none;
}

#question
{
    width: 500px;
    height: 150px;
    margin: 70px auto 10px auto;

    background-color: white;
    -moz-box-shadow: 0px 0px 5px 3px #8f94fb;
    -webkit-box-shadow: 0px 0px 5px 3px #8f94fb;
    font-size: 100px;
    text-align: center;
    font-family: cursive, sans-serif;
    color: black;
    border-radius: 10px;
}

#instruction
{
   width: 500px;
   height: 50px;
   margin: 20px auto;
   background-color: #2C5364;
   color: white;
   border-radius: 10px;
   text-align: center;
   line-height: 45px;
   font-size: 25px;
   -moz-box-shadow: 0px 0px 5px 3px #8f94fb;
   -webkit-box-shadow: 0px 0px 5px 3px #8f94fb;
}

#choices
{
   width: 500px;
   height: 100px;
   margin: 20px auto;
}

.box
{
    width: 85px;
    height: 85px;
    background-color: white;
    float: left;
    margin-right: 53px;
    border-radius: 10px;
    -moz-box-shadow: 0px 0px 5px 3px #8f94fb;
    -webkit-box-shadow: 0px 0px 5px 3px #8f94fb;
    text-align: center;
    font-size: 1.6em;
    line-height: 80px;
    position: relative;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.box:hover
{
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  color: white;
  -webkit-box-shadow: 0px 0px 5px 3px #8f94fb;
  -moz-box-shadow: 0px 0px 5px 3px #8f94fb;
}

.box:active
{
    -webkit-box-shadow: 0px 0px 5px 3px #8f94fb;
    -moz-box-shadow: 0px 0px 5px 3px #8f94fb;
    top: 3px;
}

#box4
{
margin-right: 0;
}

#start-game
{
    width: 120px;
    height: 30px;
    background-color: white;
    margin: 0 auto;
    padding-top: 6px;
    border-radius: 10px;
    font-size: 20px;
    -moz-box-shadow: 0px 0px 5px 3px #8f94fb;
    -webkit-box-shadow: 0px 0px 5px 3px #8f94fb;
    text-align: center;
    position: relative;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

#start-game:hover
{
   background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
     color: white;
     -webkit-box-shadow: 0px 0px 5px 3px #8f94fb;
     -moz-box-shadow: 0px 0px 5px 3px #8f94fb;
}

#start-game:active
{
    -webkit-box-shadow: 0px 0px 5px 3px #8f94fb;
    -moz-box-shadow: 0px 0px 5px 3px #8f94fb;
    top: 3px;
}

#time-remaining
{
    width: 140px;
    padding: 10px;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 3px #8f94fb;
    -moz-box-shadow: 0px 0px 5px 3px #8f94fb;
    left: 435px;
    top: 22px;
    /*visibility: hidden;*/
    display: none;
}

#game-over
{
        width: 500px;
        height: 150px;
        border-radius: 10px;
        background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
        position: absolute;
        top: 90px;
        left: 95px;
        color: white;
        font-size: 1.7em;
        text-align: center;
        box-shadow: 0px 0px 5px 3px #8f94fb;
        -webkit-box-shadow: 0px 0px 5px 3px #8f94fb;
        -moz-box-shadow: 0px 0px 5px 3px #8f94fb;
        z-index: 2;
        display: none;
}