html
{
    height: 100%;
    background: radial-gradient(circle, #042f66, #21D4FD);
}

#container
{
    height: 500px;
    width: 650px;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    margin: 100px auto;
    padding: 20px;
    border-radius: 15px;
    position: relative;
}

#score
{
    background-color: white;
    color: grey;
    padding: 11px;
    position: absolute;
    left: 600px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 3px #8f94fb;
}

#correct
{
    position: absolute;
    left: 300px;
    background-color: #4BB543;
    padding: 11px;
    color: white;
    border-radius: 10px;
    display: none;
}

#wrong
{
    position: absolute;
    left: 300px;
    background-color: #ED213A;
    padding: 11px;
    color: white;
    border-radius: 10px;
    display: none;
}

#question
{
    width: 500px;
    height: 150px;
    margin: 70px auto 10px auto;
    background-color: white;
    box-shadow: 0px 0px 5px 3px #8f94fb;
    font-size: 100px;
    text-align: center;
    font-family: cursive, sans-serif;
    color: black;
    border-radius: 10px;
}

#instruction
{
   width: 500px;
   height: 50px;
   margin: 20px auto;
   background-color: #2C5364;
   color: white;
   border-radius: 10px;
   text-align: center;
   line-height: 45px;
   font-size: 25px;
   box-shadow: 0px 0px 5px 3px #8f94fb;
}

#choices
{
   width: 500px;
   height: 100px;
   margin: 20px auto;
}

.box
{
    width: 85px;
    height: 85px;
    background-color: white;
    float: left;
    margin-right: 53px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 3px #8f94fb;
}

#box4
{
margin-right: 0;
}